@import "../utils/functions";
@import "../utils/mixins";
@import "../variables";

.swiper {
  width: 100%;
  padding-top: px-to-rem(50px);
  padding-bottom: px-to-rem(50px);
}

.swiper-slide {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 px-to-rem(8px) px-to-rem(32px) 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: px-to-rem(20px);
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.options {

  &__like {
    padding: px-to-rem(10px);
    width: px-to-rem(50px);
    height: px-to-rem(50px);

    &--day {
      color: $Happy-Mom-3-hex;
    }

    &--night {
      color: $Poseidon-4-hex;
    }
  }
}