@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,600;1,300&display=swap');
@import "./utils/functions";
@import "./variables";

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  font-size: $base-font-size;
  overflow-y: auto;
  transition: background-color .5s ease;
  height: 100vh;
  width: 100%;
  max-width: px-to-rem(430px);
  margin: 0 auto;
}

.btn {
  border: none;
  border-radius: px-to-rem(20px);
  padding: px-to-rem(10px);
  font-weight: 600;
}


.day {
  background-image: url(../assets/day.png);
  background-position: center;
  background-size: 100% 100%;
}

.night {
  background-image: url(../assets/night.png);
  background-position: center;
  background-size: 100% 100%;
}