$base-font-size: 12px;

$global-font-color: #000000;
$btn-color: #FFFFFF;
$base-color: #08A6E4;
$error: #FB3B64;
$green-color: #55DFB4;
$dar-gray-color: gray;
$border-color: #ccc;
$color-white: #FFFFFF;


$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);