$base-font-size: 12px;

$Happy-Mom-1-hex: #3FB8AF;
$Happy-Mom-2-hex: #7FC7AF;
$Happy-Mom-3-hex: #DAD8A7;
$Happy-Mom-4-hex: #FF9E9D;
$Happy-Mom-5-hex: #FF3D7F;


$Poseidon-1-hex: #DAFDBA;
$Poseidon-2-hex: #9AEBA3;
$Poseidon-3-hex: #45C4B0;
$Poseidon-4-hex: #13678A;
$Poseidon-5-hex: #012030;



$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);


