$base-font-size: 12px;

$day-font-color: #F2E8DF;
$day-links_form-btn_inputs: #F28585;
$day-cos: #F2C6C2;
$day-co: #F2B263;
$day-lala: #86A69D;

$night-font-color: #45C4B0;
$night-links_form-btn_inputs: #DAFDBA;
$night-cos: #9AEBA3;
$night-co: #13678A;
$night-lala: #012030;



$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px
);